@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

body {
    background-color: darkgray;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.contenedor {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

/* CSS BARRA DE NAVEGACION */
.menu {
    padding-bottom:20px;
    position: sticky;
    top: 0;
}

.navbar {
    height: 65px;
    background-color: #000;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nb-a {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.nb-icono {
    width: 24px;
    height: 23px;
}
.nb-icono:hover {
    transform: scale(1.1);
}

/* CSS PRIMERA SECCION */
.seccion {
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 50px;
    margin-top: 1px;
}

.subseccion{
    width: 50%;
}

.profesion{
    text-decoration: underline;
}

.perfil {
    max-width: 100%;
    max-height: 200px;
    border-radius: 15px;
    margin-top: 15px;
}


.status {
    display: flex;
    align-items: center;
    border: 1px solid #ccd1d1;
    padding: 8px;
    border-radius: 20px;
    width: 80%;
}

.p-status {
    margin: 0 10px;
    align-items: center;
}

.circulo {
    height: 13px;
    width: 13px;
    background-color: green;
    border-radius: 50px;
}

.present {
    border-bottom: 1px solid #ccd1d1;
    margin-top: 10px;
    padding: 10px;
    font-size: 29px;
}

.btn-work {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
}

.btn-cv {
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    text-decoration: underline;
    border: 1px solid;
    cursor: pointer;
}

/* CSS SEGUNDA SECCION */
.logos-seccion {
    display: flex;
    justify-content: space-between;
}

.sl {
    border: 1px solid #ccd1d1;
    border-radius: 40px;
    padding: 15px;  
}

.item {
    width: 40px;
    height: 40px;
}

/* CSS TERCERA SECCION */
.experiencia {
    width: 50%;
    margin: 0;
    padding: 0;
}

.educacion {
    font-size: 17px;
}

.lugar{
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

.lugar:visited {
    color: black;
}

.rango{
    display: flex;
    align-items: center;
    color: black;
    font-size: 17px;
}

.año {
    border: 1px solid #ccd1d1;
    border-radius: 40px;
    width: 35%;
    padding: 10px;
    justify-content: center;
}

.linea {
    border-bottom: 1px solid #ccd1d1;
    width: 80%;
    padding: 10px;
    margin-bottom: 30px;
}

.t-work {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
}

/* CSS CUARTA SECCION */
.i-work {
    width: 25px;
    height: 25px;
}

/* CSS QUINTA SECCION  */
.seccion-w{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1px;
}

.s-work {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 393px;
    margin: 0.5px;
    text-align: center;
}

.s-work img {
    width: 100%;
    height: auto;
}

.s-work h4 {
    font-size: 1.2em;
}

.sw-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.etiqueta {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 15px;
    font-size: 0.9em;
    color: #555;
    white-space: nowrap;
}

/* CSS SEXTA SECCION */
.sw-portafolio {
    padding: 15px 30px 15px 30px;
    justify-content: center;
}

.link:visited {
    color: black;
}

/* CSS SEPTIMA SECCION  */
.t-servicios {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
}

.i-servicios {
    width: 25px;
}

/* CSS OCTAVA SECCION  */
.servicios {
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin-top: 1px;

}

/* CSS CONTACTO */
.t-contacto {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
}

.i-contacto {
    width: 25px;
}

/* CSS FORMULARIO CONTACTO  */

.seccion .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.seccion .formulario input[type="text"],
.seccion .formulario input[type="email"],
.seccion .formulario textarea {
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 15px;
    color: #a4a4aa;
    font-family: "Quicksand", sans-serif;
}

.seccion .formulario input[type="text"]:focus,
.seccion .formulario input[type="email"]:focus,
.seccion .formulario textarea:focus {
    border: 1px solid #3895ea;
}

.seccion .formulario input[type="text"],
.seccion .formulario input[type="email"] {
    width: 44%;
    margin-bottom: 1px;
}

.seccion .formulario textarea {
    width: 94%;
    height: 100px;
    resize: none;
}

.seccion .formulario .boton {
    margin: auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Quicksand", sans-serif;
}

.s-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-top: 1px; 
}

.social-links {
    display: flex;
    justify-content:center ;
    gap: 10px;
  }
  
.redes {
    display: inline-block;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
.redes:hover {
    background-color: #e0e0e0;
  }
/* MEDIA QUERY */
@media screen and (min-width: 766px) {
    /* .menu{
        padding-bottom: 1px;
    } */
    .navbar {
        margin-top: 70px;
        flex-direction: column; 
        height: 320px; 
        width: 65px; 
        border-radius: 40px; 
        /* margin-left: -90px;
        margin-bottom: -500px; */
        position: fixed;
        top: 0;
        left: calc(50% - 400px);
        transform: translateX(-100px);
    }

    .nb-a {
        margin: 20px 0; 
    }

    .nb-icono {
        width: 23px; 
        height: 22px;
    }

    .nb-icono:hover {
        transform: scale(1.1);
    }
}

/* Estilos para pantallas pequeñas, como móviles o tablets */
@media only screen and (max-width: 766px) {
    /* Ajustes generales */
    .seccion {
      flex-direction: column; /* Coloca las subsecciones una debajo de la otra */
      padding: 20px;
    }
  
    .subseccion {
      width: 100%; /* Las subsecciones ocupan el 100% del ancho */
    }
  
    .status {
      width: 100%; /* El estado también ocupa todo el ancho */
    }
  
    .btn-work,
    .btn-cv {
      width: 100%; /* Los botones también ocupan todo el ancho */
      text-align: center;
    }
  
    /* Segunda Sección */
    .logos-seccion {
      flex-direction: column;
      align-items: center;
    }
  
    .sl {
      margin-bottom: 10px; /* Espacio entre los elementos */
    }
  
    /* Ajustes para la tercera sección (experiencia) */
    .experiencia {
      width: 100%; /* Experiencia ocupa el 100% */
    }
  
    .rango {
      flex-direction: column; /* Para evitar que se deformen */
      align-items: flex-start;
    }
  
    .año {
      width: 100%;
      text-align: center;
    }
  
    /* Ajustes para las secciones generales */
    .t-work, .t-servicios, .t-contacto {
      flex-direction: column;
      align-items: center;
    }
  
    /* Ajustes para las imágenes */
    .s-work {
      width: 100%; /* Las imágenes ocupan todo el ancho del contenedor */
    }
  
    .social-links {
      flex-direction: column;
    }
  
    /* Formulario */
    .seccion .formulario input[type="text"],
    .seccion .formulario input[type="email"] {
      width: 100%;
    }
  
    .seccion .formulario textarea {
      width: 100%;
    }
  }
  

